* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -webkit-appearance: none;
    border-radius: 0;
    font-size: 14px;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(font/material.woff2) format('woff2');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
  }

html {
    font-size: 16px;
    height: 100%;
}

input,
button,
select {
    font-size: 1em;
    border-radius: 3px;
}

body {
    height: 100%;
}

.green {
    color: #0b0;
}

.red {
    color: red;
}

#wrap {
    position: relative;
    height: 100%;
    width: 100%;
    width: 22em;
    min-height: 24em;
}

.main {
    margin-bottom: 4em;
}

#word {
    width: 16em;
    padding: .25em;
    line-height: 1em;
    border: 1px solid #fff;
}

.search-input {
    position: relative;
    padding: 1em;
    background: #ddd;
}

.search-submit {
    float: left;
    width: 5em;
}

input[type=submit] {
    padding: .6em 2em;
}

#wordHint {
    width: 16em;
    position: absolute;
    top: 80%;
    left: 1em;
    border: 1px solid transparent;
    background: transparent;
    z-index: 10;
}

.hintItem {
    padding: .25em .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hintItem:hover {
    cursor: pointer;
    background: #eee;
}

.hintItem_t {
    margin-left: 1em;
    color: #999;
}

.hover {
    background: #eee;
}

#add-btn {
    font-size: .8em;
    padding: .29em .8em;
    position: absolute;
    right: 1.25em;
    background: #bbb;
    border: 1px solid #bbb;
}

#add-btn:hover {
    cursor: pointer;
}

.stock-code {
    font-size: 9px;
    position: absolute;
    top: calc(50% + 0.75em);
    display: none;
}

.stock-name {
    display: inline-block;
    width: 5em;
}

.stock-price,
.stock-change {
    padding-left: 1em;
    width: 5em;
    text-align: right;
    display: inline-block;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.stock-remove {
    content: "";
    position: absolute;
    display: block;
    right: 1.5em;
    top: calc(50% - 0.8em);
    text-align: center;
}


.btn {
    position: absolute;
    padding: 1em;
    bottom: 0;
    right: 0;
    width: 100%;
    background: #bbb;
}

#getData-btn {
    float: right;
    outline: none;
    border: none;
    width: 2em;
    height: 2em;
    background: none;
}

.refresh-btn {
    display: block;
    height: 2em;
    width: 2em;
    border-radius: 50%;
    border: 2px solid #ddd;
    background: #ddd;
}

.refresh-btn:hover,
.stock-remove:hover {
    cursor: pointer;
}

#period-time, #badge-price {
    padding: .3em .4em;
    line-height: 1em;
    margin-right: .5em;
    border: 2px solid;
    border-color: #bbb #bbb #ddd #bbb;
    background: #bbb;
    color: #fff;
    cursor: pointer;
}

#show-list {
    list-style: none;
    background: #f9f9f9;
    height: 18em;
    overflow-y: auto
}
#show-list li {
    padding: .5em 1em;
    border-bottom: 1px solid #fff;
    position: relative;
}

.material-icons {
    display: inline-block;
    color: #fff;
    vertical-align: text-top;
}

.stock-remove .material-icons{
    color: #ccc;
}

@keyframes flash-rotate{  
    0% {}  
    100% {-webkit-transform:rotate(360deg);}  
}  
  
.animation-rotate{  
    -webkit-animation-name:flash-rotate;  
    -webkit-animation-duration:1s;  
    -webkit-animation-timing-function:linear;  
    -webkit-animation-iteration-count:infinite;  
} 